# This is a basic workflow to help you get started with Actions
name: Run Check Style
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:              
      - name: Step 1 :Check out Main Branch
        uses: actions/checkout@v3

      - name: Run java checkstyle
        uses: nikitasavinov/checkstyle-action@0.6.0
        with:
          level: 'error'
          reporter: 'github-pr-check'
          tool_name: 'CheckStyle'

      - name: Step 2 :Set-up Java Version 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
